@tailwind base;
@tailwind components;
@tailwind utilities;

th, td {
   padding: 0 0px 0 10px;
}

th:last-child {
   padding: 0 10px 0 10px;
}

tbody tr:nth-child(even) {
   background-color: #eaeeef;
}

td i {
   cursor: pointer;
}

/*a.share:visited,*/
/*a.share:visited:hover {*/
/*   color: green;*/
/*}*/

/* login styles */

.w114 {
   width: 456px;
}